body {
    
    color: white;
    font-family: Arial, sans-serif;
	text-align:center;
	background-image:
	url('backgroundphoto.png');
	background-color: black;
	height:30%;
	width:100%
}
.center{
	padding:270px 0;
		
}
p{
	text-align: center;
	background-color: black;
}
form{
	text-align:center;
	background-color: black;
}
select{
	text-align:center;
	
}
button{
	text-align:center;
	
}
option{
	text-align:center;
	
}
h1{
	text-align:center;
	background-color: black;
}
h2{
	text-align:center;
	background-color: black;
}
h3{
	text-align:center;
	background-color: black;
}