<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affair Web Application</title>
    <meta charset="utf-8">
	<meta name="author" content="Lakysha Rochell Linzy">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  

    <div class="center">
    <form action="{{url_for('QuestionNine')}}" method="post">
			
			<h2>How happy are you in your marriage?</h2>
        <select name="response_select7" class="Input">
              {% for i in rating_ %}
			  <option disabled selected value> -- select an option -- </option>
              <option value="{{ i.marriage_rating }}">{{ i.marriage_rating }}</option>
              {% endfor %}
            </select>
			<br><br>
        
        <button type="submit" class="pred-btn"> Submit </button>

</form>
 
</div>
</body>

</html>
